<mat-tab-group animationDuration="0ms">
  <mat-tab label="Fichas heroes">
    <form [formGroup]="buscarHeroeForm" class="example-form">
      <mat-form-field class="example-full-width">
        <mat-label>Buscar por nombre</mat-label>
        <input matInput formControlName="name" (keyup)="getHeroName($event)" placeholder="Buscar por nombre">
      </mat-form-field>
    </form>
    <div class="flex-container">
      <app-heroes-detail [hero]="hero" *ngFor="let hero of heroeslist" class="flex-item"
        (idHero)="removeItemFromArr($event)"></app-heroes-detail>
    </div>
  </mat-tab>
  <mat-tab label="Lista heroes">
    <app-heroes-list [heroeslist]="heroeslist" (idHero)="removeItemFromArr($event)"></app-heroes-list>
  </mat-tab>
</mat-tab-group>

<app-spinner *ngIf="showSpinner"></app-spinner>
