
<div class="mat-elevation-z8">
  <form [formGroup]="filterHeroeForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Filtro</mat-label>
      <input matInput formControlName="name" (keyup)="filter($event)" placeholder="Filtrar">
    </mat-form-field>
  </form>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef> Descripción </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>
    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef> Fecha creación </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date:'shortDate'}} </td>
    </ng-container>
    <ng-container matColumnDef="boton">
      <th mat-header-cell *matHeaderCellDef> Botones </th>
      <td mat-cell *matCellDef="let element"> <button mat-stroked-button color="warn"
          (click)="openDialog(element.id,element.name)">Eliminar</button> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [length]="100" [pageSize]="3" [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
