<h1>Añadir</h1>
<form [formGroup]="addHeroeForm" class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Nombre</mat-label>
    <input matInput formControlName="name" placeholder="Nombre" appUpperCaseText>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Descripción</mat-label>
    <input matInput formControlName="description" placeholder="description">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <mat-label>Imágen (jpeg|jpg|gif|png)</mat-label>
    <input matInput formControlName="img" placeholder="img">
  </mat-form-field>
  <div class="cont-button">
    <button type="submit" [disabled]="!addHeroeForm.valid" (click)="addHeroe()">Añadir</button>
  </div>
</form>
