<div mat-dialog-content>
  <p>Quieres eliminar a {{data.name}}</p>
</div>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Eliminar</button>
</mat-dialog-actions>
