<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>{{hero.name}}</mat-card-title>
    <mat-card-subtitle>{{hero.date | date:'shortDate'}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{hero.img}}" alt="Photo of {{hero.name}} ">
  <mat-card-content>
    <p>
      {{hero.description}}
    </p>

  </mat-card-content>
  <mat-card-actions>
    <button mat-stroked-button color="primary" (click)="editHeroe()">Modificar</button>
    <button mat-stroked-button color="warn" (click)="openDialog()">Eliminar</button>
   </mat-card-actions>
</mat-card>
