
<div *ngIf="heroe">
  <div class="mini-photo">
    <img src="{{heroe.img}}" alt="Photo of {{heroe.name}}">
  </div>
  <div><span>id: </span>{{heroe.id}}</div>
  <h2>Nombre: {{heroe.name | uppercase}}</h2>
  <div><span>Descripción: </span> {{heroe.description | uppercase}} </div>
  <div><span>Fecha creación </span>{{heroe.date  | date:'shortDate'}}</div>
  <h1>Editar</h1>
  <form [formGroup]="editHeroeForm" class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="name" placeholder="{{heroe.name}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Descripción</mat-label>
      <input matInput formControlName="description" placeholder="{{heroe.description}}">
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>Imágen (jpeg|jpg|gif|png)</mat-label>
      <input matInput formControlName="img" placeholder="{{heroe.img}}">
    </mat-form-field>
    <div class="cont-button">
      <button type="submit" [disabled]="!editHeroeForm.valid" (click)="editHeroe()">Editar</button>
    </div>
  </form>
</div>
