/* Global Styles */
* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #264D73;
  font-size: 2.5rem;
}

h2,
h3 {
  color: #444;
  font-weight: lighter;
}

h3 {
  font-size: 1.3rem;
}

body {
  padding: .5rem;
  max-width: 1400px;
  margin: auto;
}

@media (min-width: 600px) {
  body {
    padding: 2rem;
  }
}

body,
input[text] {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

a {
  cursor: pointer;
}

button {
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: black;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

button:hover {
  background-color: black;
  color: white;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
}

nav a:hover {
  color: white;
  background-color: #42545C;
}

nav a.active {
  background-color: black;
  color: white;
}

hr {
  margin: 1.5rem 0;
}

input[type="text"] {
  box-sizing: border-box;
  width: 100%;
  padding: .5rem;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-container {
  display: flex;

  flex-flow: row wrap;

  justify-content: space-around;

  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 400px;
  margin: 10px;
  color: white;
  font-weight: bold;
  font-size: 3em;
  text-align: center;
}

label {
  color: silver;
}

.mat-tab-label-content {
  color: black;
}

.mat-card {
  background: rgb(0, 0, 0);
  background: linear-gradient(343deg, rgba(0, 0, 0, 1) 0%, rgba(29, 29, 29, 1) 35%, rgba(64, 64, 64, 1) 100%);
}

.spinner {
  position: absolute;
  top: 50%;
  margin: auto;
  z-index: 999;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-form-field-appearance-legacy .mat-form-field-label {
  color: black;
}

.mat-form-field-flex {
  border-bottom: 1px solid black;
}


.mat-form-field {
  display: inline-block;
  position: relative;
  text-align: left;
  width: 33%;
  margin: 15px;
}

@media (max-width: 1024px) {
  .mat-form-field {
    width: 100%;
    margin: 0;
  }
}

.cont-button{
  width: 100%;
  display: flex;
  justify-content: left;
}

.mini-photo{
  width: 200px;
  height: auto;
  border-radius: 3px;
  margin: 20px 0;
}

.mini-photo img{
  width: 100%;
  margin: 0;
}
